* {
    padding: 0;
    margin: 0;
}

#estudiante {
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input {
    border-radius: 0.25rem;
    padding: 5px 30px;
    transition: all ease 0.3s;
    box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.75);
}

input:hover {
    background-color: black;
    color: white;
}


#label1 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}


h2{
    text-align: center;
}

h3 {
    width: auto;
    padding: 1px 8px;
    border-radius: 0.25rem;
}

#row {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

#row2 {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-top: 10px;

}

#row3 {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-top: 10px;
}

.divCenter {
    display: flex;
    justify-content: center;

}
.btn {
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    padding: 10px 40px;
    margin-top: 10px;
    border: none;
    -webkit-box-shadow: 0px 0px 59px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 59px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 59px -3px rgba(0,0,0,0.75);
}

.btn:hover {
    background-color: gray;
    color: white;
}

.aviso {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgba(128, 128, 128, 0.767);
    color: rgb(0, 0, 0);
    padding: 1rem;
    margin: 0px auto;
    margin-top: 50px;
    border-radius: 0.25rem;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.parrafo{
    margin-top: 12px;
}

.aviso span {
    color: red;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: -5px;
    user-select: none;
    transition: all 0.35s;

}

.aviso span:hover {
    color: rgb(0, 0, 0);
}

.modal-header{
    color: rgb(0, 0, 0);
    font-size: 1px;
}